<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/tausi/OneDrive - DP World/Desktop/Taqdis/DP_World/Playwrite/PlaywritePOMFramework/src/test/resources/testRunner"><classes/></test></suite>